* {
    box-sizing: border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}



input#inputCity {
    width: 10em;
}
input#inputLang {
    width: 2em;
}

#forecastHourly{
    border: 1px gray solid;
    min-height: 2em;
    scroll-behavior: smooth;
    padding: 0.3em;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1px;
    font-size: 16px;
}

.forecastCard{
    display: inline-block;
    min-height: 2em;
    padding: 0.2em;
}

.forecastHour{
    border: 1px lightblue solid;
    background: linear-gradient(235deg, lightgoldenrodyellow 35%, burlywood 90%);
}
.unit{
    color: #607d8b;
}
.forecastHour.night{
    background: lightgray;
}

.forecastHour>img{
    width: 3.125em;
}

.dateLabel{
    vertical-align: top;  
    text-align: center;
}

.hidden {
    display: none;    
}

details {
    margin-top: 1em;

    border: 1px solid rgb(202, 202, 202);
    border-radius: 2px;
    padding: 0 .5em .5em;
}

#settings {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em;
    margin-top: 0.3em;
}

#scale{
    display: flex;
    height: 100%;
    gap: 0.6em;
    margin: 0.3em;    
}

#scale button{
    height: 100%;
    width: 100%;
}

.settingsGroup {
    display: flex;
    flex-direction: column;
    padding: 0.3em;
    border: 1px solid rgb(202, 202, 202);
}